
<ion-content padding>
   <form>
     <ion-grid>
       <ion-row justify-content-center>
          <ion-col align-self-center>
            <div text-center>
              <h3>Login</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input name="email" type="email" placeholder="sample@email.com" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Password" required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" color="dark" expand="block" (click)="login()">Login</ion-button>
            </div>
            <ion-row>
              <div text-center>
               If you don't have an account, please <a routerLink='/register'>register</a>
              </div>
            </ion-row>
          </ion-col>
       </ion-row>
     </ion-grid>
   </form>
</ion-content>
