
<ion-content>
  <form name="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center>
              <div text-center>
                <h3>Create your account</h3>
              </div>
              <div padding>
                <ion-item>
                  <ion-input  name="name" type="text" placeholder="Firstame" formControlName = "firstname" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input  name="name" type="text" placeholder="Lastname" formControlName = "lastname" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="email" type="email" placeholder="sample@email.com" formControlName = "email" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Password" formControlName = "password" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="confirm" type="password" placeholder="Confirm Password" required></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-button size="large" type="submit" color="dark" expand="block">Register</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
  </form>
</ion-content>
